rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /profiles/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
    match /tokens/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
    match /streamlabs/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
    match /realtimecash/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow write: if false;
    }
    match /actions/{document=**} {
      allow read: if false;
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow update: if false;
    }
    match /messages/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /metadata/{document=**} {
      allow read: if request.query.limit <= 20;
      allow write: if false;
    }
  }
}
