name: Build & upload to Google Play Store

on:
  push:
    paths:
      - "android/**"
      - "assets/**"
      - "lib/**"
      - "pubspec.lock"
      - "pubspec.yaml"
    branches:
      - main
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set environment to prod
        if: ${{ github.event_name == 'release' }}
        run: echo "track=production" >> $GITHUB_ENV
      - name: Set environment to alpha
        if: ${{ github.event_name == 'push' }}
        run: echo "track=alpha" >> $GITHUB_ENV

      - uses: actions/checkout@v2
      - run: echo $UPLOAD_KEYSTORE | base64 -d > android/app/upload-keystore.jks
        env:
          UPLOAD_KEYSTORE: ${{ secrets.UPLOAD_KEYSTORE }}
      - uses: actions-ecosystem/action-get-latest-tag@v1
        id: get-latest-tag
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          channel: "stable"
      - run: flutter pub get
      - run: flutter build appbundle --release --build-name=${{ steps.get-latest-tag.outputs.tag }}
        env:
          STORE_PASSWORD: ${{ secrets.UPLOAD_KEYSTORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.UPLOAD_KEYSTORE_PASSWORD }}
          KEY_ALIAS: upload
          STORE_FILE: upload-keystore.jks

      - name: Upload artifact to Google Play
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_PLAY_SERVICE_ACCOUNT_JSON }}
          packageName: com.rtirl.chat
          releaseFiles: build/app/outputs/bundle/release/app-release.aab
          track: ${{ env.track }}
          mappingFile: build/app/outputs/mapping/release/mapping.txt
      - uses: actions/upload-artifact@v2
        with:
          name: app-release
          path: build/app/outputs/bundle/release/app-release.aab
