name: Deploy to Firebase on merge
on:
  push:
    paths:
      - "database.rules.json"
      - ".firebaserc"
      - "firebase.json"
      - "firestore.indexes.json"
      - "firestore.rules"
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: w9jds/firebase-action@master
        with:
          args: deploy --only "firestore,database"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
