name: Check Firebase Functions build
on:
  pull_request:
    paths:
      - "functions/**"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci && npm run build
        working-directory: functions
