name: Deploy to Firebase Functions on merge
on:
  push:
    paths:
      - "functions/**"
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: w9jds/firebase-action@master
        with:
          args: functions:config:set alchemy.signingkey="$ALCHEMY_SIGNING_KEY" alchemy.ethsigningkey="$ALCHEMY_ETH_SIGNING_KEY" twitch.id="$TWITCH_CLIENT_ID" twitch.secret="$TWITCH_CLIENT_SECRET" express.secret="$EXPRESS_SESSION_SECRET" streamlabs.id="$STREAMLABS_CLIENT_ID" streamlabs.secret="$STREAMLABS_CLIENT_SECRET"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
          TWITCH_CLIENT_ID: ${{ secrets.TWITCH_CLIENT_ID }}
          TWITCH_CLIENT_SECRET: ${{ secrets.TWITCH_CLIENT_SECRET }}
          STREAMLABS_CLIENT_ID: ${{ secrets.STREAMLABS_CLIENT_ID }}
          STREAMLABS_CLIENT_SECRET: ${{ secrets.STREAMLABS_CLIENT_SECRET }}
          EXPRESS_SESSION_SECRET: ${{ secrets.EXPRESS_SESSION_SECRET }}
          ALCHEMY_SIGNING_KEY: ${{ secrets.ALCHEMY_SIGNING_KEY }}
          ALCHEMY_ETH_SIGNING_KEY: ${{ secrets.ALCHEMY_ETH_SIGNING_KEY}}

      - uses: w9jds/firebase-action@master
        with:
          args: deploy --only functions
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
