name: Release to App Store

on:
  push:
    paths:
      - "ios/**"
      - "assets/**"
      - "lib/**"
      - "pubspec.lock"
      - "pubspec.yaml"
    branches:
      - main
  release:
    types: [released]
  workflow_dispatch:

jobs:
  ipa:
    runs-on: macos-latest
    env:
      APP_STORE_CONNECT_ISSUER_ID: 863d4663-9217-4c36-9caa-e7b2201ec4f1
      APP_STORE_CONNECT_KEY_IDENTIFIER: 7V6HA7B3B3
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
      CERTIFICATE_PRIVATE_KEY: ${{ secrets.APPLE_CERTIFICATE_KEY_PEM }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - run: pip install codemagic-cli-tools

      - uses: paulhatch/semantic-version@v4
        id: semantic
        with:
          tag_prefix: ""

      - uses: subosito/flutter-action@v1
      - run: |
          keychain initialize
          app-store-connect fetch-signing-files $(xcode-project detect-bundle-id) --type IOS_APP_STORE --create
          keychain add-certificates
          xcode-project use-profiles --export-options-plist=$RUNNER_TEMP/export_options.plist
          find . -name "Podfile" -execdir pod install \;
          flutter pub get
          flutter build ipa --verbose --release --build-name=${{ steps.semantic.outputs.version }} --build-number=$(($(app-store-connect get-latest-app-store-build-number '1567720948') + 1)) --export-options-plist=$RUNNER_TEMP/export_options.plist

      - uses: actions/upload-artifact@v2
        with:
          name: release.ipa
          path: build/ios/ipa/RealtimeChat.ipa
          
  upload:
    needs: ipa
    runs-on: macos-latest
    env:
      APP_STORE_CONNECT_ISSUER_ID: 863d4663-9217-4c36-9caa-e7b2201ec4f1
      APP_STORE_CONNECT_KEY_IDENTIFIER: 7V6HA7B3B3
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APPSTORE_API_PRIVATE_KEY }}
    concurrency: 
      group: ios-${{ github.ref }}
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: release.ipa

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - run: pip install codemagic-cli-tools

      - if: github.event_name != 'release'
        run: app-store-connect publish --verbose --testflight --max-build-processing-wait 360

      - if: github.event_name == 'release'
        run: app-store-connect publish --verbose --app-store --max-build-processing-wait 360

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: "2.7"
      - run: |
          echo "{\"key_id\": \"$APP_STORE_CONNECT_KEY_IDENTIFIER\",\"issuer_id\":\"$APP_STORE_CONNECT_ISSUER_ID\","key":"$(echo $APP_STORE_CONNECT_PRIVATE_KEY | sed 's/$/\\n/g' | tr -d '\n')"}" > $RUNNER_TEMP/api_key.json
          gem install fastlane
          fastlane download_dsyms api_key_path:$RUNNER_TEMP/api_key.json
          upload_symbols_to_crashlytics
